body {
  /*padding: 50px;
  */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
  /*background-color: #FBDF9D;
*/
}

img {
  height: 50px;
}

.form-control {
	width: 70%;
}

.jumbotron {
	background-color: #34A853;
}
/*
#bothboxes {
	background-color: #F7AB40;
}
*/
a {
  color: #00B7FF;
  float: left;
}

.images {
  height: 100px;
}

.item {
  text-align: absolute;
  float:left;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 270px;
  height: 310px;
  padding: 10px;
  margin-right: 15px;
  margin-bottom: 15px;
  margin-top:35px;
  border: 5px solid #34A853;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

}


.item * {
  vertical-align: middle;
}

.item span {
  display: inline-block;
  height: 100%;
  width: 1px;
}

.Avatar img {
	  width: 100px;
	  height: 100px;
	  border-radius: 50%;
	}

	.Avatar h4 {
	  text-transform: capitalize;
	  color: Blue;
	}

  .Avatar p {
    text-transform: capitalize;
    color: Black;
  }

.btn {
 padding: 18px 28px;
    font-size: 22px; //change this to your desired size
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.btn-group {
    position: relative;
    text-align: center;
    margin: 0 auto;
}

.btn-group-wrap {
    text-align: center;
}

div.btn-group {
    margin: 0 auto; 
    text-align: center;
    width: inherit;
    display: inline-block;
}



#toolbar {
    width: 100%;
    margin: 10px;
    padding: 10px;
}

#toolbar .wrapper {
}









